.social-info__link {
  display: flex;
  flex-direction: column; }

.social-info__icon {
  width: 1.6rem;
  height: 1.6rem; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  line-height: 10px;
  color: black; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; }

ul[class],
ol[class] {
  list-style: none;
  padding: 0; }

h1,
h2,
h3 {
  margin: 0; }

.two__columns {
  width: 100%; }

.left__column {
  width: 42%; }

.right__column {
  width: 58%; }

a {
  text-decoration: none;
  color: #333333; }
  a:hover {
    text-decoration: underline; }

.wrapper {
  width: 100%;
  max-width: 1440px; }

nav,
header,
section,
footer {
  display: flex;
  justify-content: center; }

.header-nav {
  background: #d4d1d1; }
  .header-nav__item:not(:last-child) {
    margin-right: 3rem; }
  .header-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .header-nav__link {
    line-height: 1.6rem;
    font-size: 1.6rem;
    color: #333333; }

.profile {
  background: #d4d1d1;
  border-bottom: 1px solid #641414; }
  .profile__wrapper {
    display: flex;
    line-height: 2rem;
    justify-content: center;
    background: #d4d1d1; }
  .profile__photo-block {
    text-align: center; }
  .profile__info-block {
    text-align: justify; }
  .profile__img-card {
    border-radius: 50%;
    width: 20rem;
    height: 20rem; }
  .profile__cv-block {
    padding: 2rem;
    font-size: 2rem;
    text-align: center; }
  .profile__name-block {
    margin: 1rem; }

.contacts {
  background: #d4d1d1;
  border-bottom: 1px solid #641414;
  border-right: 1px solid #641414; }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    margin-top: 1rem; }
  .contacts__title {
    font-size: 1.6rem; }

.skils-info {
  background: #d4d1d1;
  border-bottom: 1px solid #641414;
  border-right: 1px solid #641414; }
  .skils-info__wrapper {
    margin-top: 1rem;
    line-height: 1.6rem; }
  .skils-info__text {
    list-style: disc outside; }

.languages {
  background: #d4d1d1;
  border-bottom: 1px solid #641414;
  border-right: 1px solid #641414; }
  .languages__wrapper {
    margin-top: 1rem;
    line-height: 1.6rem; }
  .languages__info {
    list-style: disc outside; }

.wrapper .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
