.social__link {
  display: flex;
  flex-direction: column;
  width: 1.6rem;
  height: 1.6rem; }
  .social__link__icon {
    display: flex;
    justify-content: center; }

html {
  font-size: 10px;
  line-height: 10px;
  color: black; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; }

ul[class],
ol[class] {
  list-style: none; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none;
  color: #333333; }
  a:hover {
    text-decoration: underline; }
  a .wrapper {
    width: 60%;
    max-width: 1440px; }
  a nav,
  a header,
  a section {
    display: flex;
    justify-content: center; }
  a .aside-info {
    display: flex;
    flex-direction: wrap; }

.header-nav {
  background: #d4d1d1; }
  .header-nav__item:not(:last-child) {
    margin-right: 3rem; }
  .header-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .header-nav__link {
    line-height: 1.6rem;
    font-size: 1.6rem;
    color: #333333; }

.profile__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d4d1d1; }

.profile__img-card {
  border-radius: 50%;
  width: 20rem;
  height: 20rem; }
