body {
    /* Прибить футер к низу */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

/* main */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Name and Image */
.div1 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
}

.main-img {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid rgb(239, 243, 243); /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    width: 200px;
    height: 200px;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 2 / 2 / 3 / 3;
}
.div4 {
    grid-area: 3 / 1 / 4 / 2;
}
.div5 {
    grid-area: 3 / 2 / 4 / 3;
}
.div6 {
    grid-area: 4 / 1 / 5 / 2;
}
.div7 {
    grid-area: 4 / 2 / 5 / 3;
}

/* footer */

footer {
    background-color: red;
}
