$wrapper-width: 100%;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  line-height: 10px;
  color: $main-text-color;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: $primary3;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.two__columns {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $link-text-color;
  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: $wrapper-width;
  max-width: 1440px;
}

.column__wrapper1 {
  border-right: 2px solid;
}

.column__wrapper2 {
  width: 58%;
}

nav,
header,
section,
footer {
  display: flex;
  justify-content: center;
}
