.contacts {
  background: $primary3;
  &__wrapper {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    margin-top: 1rem;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
}

.social-info__link {
  text-align: left;
}

.social-info__description {
  vertical-align: middle
}

