.footer {
  background-color: $primary3;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid;
  }
}

.footer__logo {
}
.footer_age {
}
.footer__github {
}
